In [1]:
import pandas as pd
import numpy as np
import os
os.chdir("C:\\Users\\MANDY\\Desktop\\dataset\\assessment")

In [2]:
text = pd.read_csv("Text_Similarity_Dataset.csv")

In [3]:
text.head()

,Unique_ID,text1,text2
0,0,savvy searchers fail to spot ads internet sear...,newcastle 2-1 bolton kieron dyer smashed home ...
1,1,millions to miss out on the net by 2025 40% o...,nasdaq planning $100m share sale the owner of ...
2,2,young debut cut short by ginepri fifteen-year-...,ruddock backs yapp s credentials wales coach m...
3,3,diageo to buy us wine firm diageo the world s...,mci shares climb on takeover bid shares in us ...
4,4,be careful how you code a new european directi...,media gadgets get moving pocket-sized devices ...

In [4]:
text.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4023 entries, 0 to 4022
Data columns (total 3 columns):
Unique_ID    4023 non-null int64
text1        4023 non-null object
text2        4023 non-null object
dtypes: int64(1), object(2)
memory usage: 94.4+ KB

In [5]:
text.describe()

         Unique_ID
count  4023.000000
mean   2011.000000
std    1161.484395
min       0.000000
25%    1005.500000
50%    2011.000000
75%    3016.500000
max    4022.000000